<div class="container">

    <h4>Servers component</h4>
    <hr>
    <label>serverName: {{ serverName }}</label>

    <!-- <input
      placeholder="event binding"
      type="text"
      class="form-control"
      (input)="onUpdateServerName($event)">
    <hr> -->

    <input
    placeholder="Enter Server Name"
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
    >
    <hr>

    <span>Button ready:&nbsp;</span>
    <span [innerText]="allowNewServer"></span>

    <button
      class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer()">Add Server</button>

    <!-- <span class="creation-status">{{ serverCreationStatus }}</span> -->
    <span *ngIf="serverCreated; else noServer">Server was created, it's name is: {{ serverName }}</span>
    <ng-template #noServer>
      <span>No server was created</span>
    </ng-template>

    <app-server></app-server>
    <app-server></app-server>
    <app-server></app-server>

</div>

