<div class="container">

    <h4>I'm the servers component</h4>
    <hr>
    <label>serverName: {{ serverName }}</label>

    <input
      placeholder="event binding"
      type="text"
      class="form-control"
      (input)="onUpdateServerName($event)">
    <hr>

    <input
    placeholder="two-way-binding"
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
    >
    <hr>

    <span>Button ready:&nbsp;</span>
    <span [innerText]="allowNewServer"></span>
    <button
      class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer()"
    >Add Server</button>

    <span class="creation-status">{{ serverCreationStatus }}</span>

    <app-server></app-server>
    <app-server></app-server>
    <app-server></app-server>

</div>

